.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.see-more {
    display: flex;
    margin: -0.5em 0.5em 0.5em 0.5em;
    width: 90%;
    zoom: 1.5;
}


ion-accordion {
    background: inherit;
    
    div.input-wrapper {
        display: none !important;
    }
}


ion-item {
    width: 90%;
    background: var(--ion-color-light);

    .item-native {
        --padding: 0 !important;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;


    .overall-matchup-data {
        display: flex;
        flex-direction: row;
    }


    ion-card-subtitle {
        text-align: center;
    }

    .batter {
        width: 50%;
        border-right: 1px solid var(--ion-color-medium);
        margin: 0.5em 0.5em 0.5em -0.5em;

        ion-avatar {
            width: 40px;
            height: 40px;
        }
    }

    .pitcher {
        width: 50%;
        margin: 0.5em -0.5em 0.5em 0.5em;

        ion-avatar {
            width: 40px;
            height: 40px;
        }
    }

    .batter-stats, .pitcher-stats {
        display: flex;
        flex-direction: row;
        font-size: 0.75em;
        
        .current-batter-stats {
            margin-left: 1em;
            text-align: left;
        }

        .current-pitcher-stats {
            margin-right: 1em;
            text-align: right;
        }
    }
}
.scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 95%;
    min-height: 80px;

    .scoreboard-logo-away, .scoreboard-logo-home {
        margin-top: 0.25em;
        height: 40px;
        width: 40px;
    }

    .scoreboard-logo-away {
        margin-right: 0.5em;
    }

    .scoreboard-logo-home {
        margin-left: 0.5em;
    }

    .bases-outs-inprogress {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0.5em 0em 0em 0em;
    }

    .bases-outs {
        text-align: center;
    }

    .half-inning {
        font-size: 0.9em;
        font-weight: 600;
    }

    .score {
        font-size: 2em;
        font-weight: 900;
    }

    .current-count {
        margin-top: -1em;
        font-size: 0.9em;
        font-weight: 600;
    }

    .number-of-outs {
        margin-top: -1em;
    }

    .final {
        font-size: 0.85em;
        font-weight: 600;
        line-height: 0%;
    }

    .away-info, .home-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.last-update {

    ion-note {
        font-size: 0.9em;
    }
}

.chat-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.25em auto;
    padding: 0.15em 0.25em;
    border-radius: 10px;
    width: 95%;
    
    .chat-item-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .top-chat {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0.5em 0em;

        .top-chat-left {
            display: flex;
            flex-direction: row;
            align-items: center;

            ion-note {
                font-size: 0.85em;
                font-weight: 600;
            }

            ion-avatar {
                max-height: 30px;
                max-width: 30px;
                margin-right: 0.5em;
            }
        }

        .top-chat-right {
            font-size: 0.8em;
        }
    }

    .middle-chat {
        margin: 0.25em 0em;

        ion-note {
            font-size: 0.9em;
        }
    }
}


ion-footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--ion-color-light);

    form {
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none !important;
        margin: 1em auto;
    }

    .chat-box {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background: none !important;
        align-items: center;
        border-radius: 20px;
        --inner-padding-end: none !important;
    }

    ion-textarea {
        border-radius: 30px;
        background: var(--ion-color-light);
        padding: 0.1em 1em;
        margin: 0em 0.5em;
        font-size: 0.9em;
        color: var(--ion-color-dark);
    }
}

.empty-div {
    height: 90px;
    width: 100%;
    clear: both;
}