.non-edit-toolbar {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: auto;
    box-shadow: none !important;
    --ionicon-stroke-width: 30px !important;
    
    ion-icon {
        height: 24px;
        width: 24px;
        color: black;
    }
}

.photo-add-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    .photo-taken {
        max-height: 400px;
        max-width: 100%;
    }
}

.grid-text {
    display: flex;
    min-width: 100vw;
    min-height: 80vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button-row {
    display: flex;
    justify-content: center;
}

.camera-button {
    margin-top: 1em;
}