<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      Timeline
    </ion-title>
    <ion-tab-button (click)="createPhotoModal()" class="button-div" slot="end">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- loading spinner -->
    <div *ngIf="!loaded" class="loading-centered">
      <ion-spinner name="lines-small"></ion-spinner>
    </div>
    <app-timeline [data]="timelineData" [token]="nextToken"></app-timeline>
</ion-content>
