<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      {{profileData.username}}
    </ion-title>
    <ion-icon (click)="openMenu()" class="menu-button" slot="end" name="menu"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-info">
    <div *ngIf="!editAccess" class="top-of-profile-edit">
      <div class="left-top-profile">
        <ion-avatar *ngIf="!profilePhoto">
          <img src="../../../assets/avatar.svg">
        </ion-avatar>
        <ion-avatar *ngIf="profilePhoto">
          <img [src]="profilePhoto">
        </ion-avatar>
        <div class="name-info">
          <p class="fullname" *ngIf="profileData.first_name && profileData.last_name">
            {{profileData.first_name}}&nbsp;{{profileData.last_name}}</p>
          <p class="fullname" *ngIf="!profileData.first_name || !profileData.last_name">{{profileData.username}}</p>
        </div>
        <div>
          <p class="relation">({{profileData.relation}})</p>
        </div>
      </div>
      <div class="right-top-profile-wrapper">
        <div class="birthday-div">
          <p class="birthday"><strong>{{profileData.birthday | date: 'MMMM d'}}{{(profileData.birthday | date: 'd') |
              dateSuffix}}</strong></p>
          <div>
            <p class="birthday-text">(birthday)</p>
          </div>
        </div>
        <div class="right-top-profile">
          <div class="stats-div">
            <p class="stats-count"><strong>{{photosPostedCount}}</strong></p>
            <div>
              <p class="stats-text">photo posts</p>
            </div>
          </div>
          <div class="stats-div">
            <p class="stats-count"><strong>{{videosPostedCount}}</strong></p>
            <div>
              <p class="stats-text">video posts</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="editAccess" class="top-of-profile-edit">
      <div class="left-top-profile">
        <ion-avatar *ngIf="!profilePhoto">
          <img src="../../../assets/avatar.svg">
        </ion-avatar>
        <ion-avatar *ngIf="profilePhoto">
          <img [src]="profilePhoto">
        </ion-avatar>
        <div class="name-info">
          <p class="fullname" *ngIf="profileData.first_name && profileData.last_name">{{profileData.first_name}}&nbsp;{{profileData.last_name}}</p>
          <p class="fullname" *ngIf="!profileData.first_name || !profileData.last_name">{{profileData.username}}</p>
        </div>
        <div>
          <p class="relation">({{profileData.relation}})</p>
        </div>
      </div>
      <div class="right-top-profile-wrapper">
        <div class="birthday-div">
          <p class="birthday"><strong>{{profileData.birthday | date: 'MMMM d'}}{{(profileData.birthday | date: 'd') | dateSuffix}}</strong></p>
          <div><p class="birthday-text">(birthday)</p></div>
        </div>
        <div class="right-top-profile">
          <div class="stats-div">
            <p class="stats-count"><strong>{{photosPostedCount}}</strong></p>
            <div><p class="stats-text">photo posts</p></div>
          </div>
          <div class="stats-div">
            <p class="stats-count"><strong>{{videosPostedCount}}</strong></p>
            <div><p class="stats-text">video posts</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bio">
      <p class="bio-text">{{profileData.bio}}</p>
    </div>
    <ion-chip *ngIf="editAccess" color="medium" class="edit-profile-button" expand="full" (click)="updateProfile()">Edit Profile</ion-chip>
  
    <ion-toolbar class="separator-toolbar">
    <ion-segment [(ngModel)]="select_buttons" (ionChange)="buttonClicked($event)">
      <ion-segment-button value="photo-uploads" checked>
        <ion-icon name="camera-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="video-uploads">
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-segment-button>
      <!-- <ion-segment-button value="recipes" disabled>
        <ion-icon name="restaurant"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="cool-spots" disabled>
        <ion-icon name="earth"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="notes" disabled>
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>
    <div class="no-photos" *ngIf="noPhotosYet && photosClicked">
      <h5 color="light">No photos posted yet.</h5>
    </div>
    <ion-grid class="postedphotos" *ngIf="!noPhotosYet && photosClicked">
      <ion-row class="postedphotos_row">
        <ion-col *ngFor="let image of profileMediaData" size-lg="4" size-md="4" size-sm="4" size-xs="4">
          <div (click)="openClickModal(image.id)" class="square" *ngIf="!image.deleted" style="background-image: url({{image.mediaSourceDesktop}})">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="no-videos" *ngIf="noVideosYet && videosClicked">
      <h5 color="light">No videos posted yet.</h5>
    </div>
    <ion-grid class="postedvideos" *ngIf="!noVideosYet && videosClicked">
      <ion-row class="postedvideos_row">
        <ion-col *ngFor="let video of profileMediaData" size-lg="4" size-md="4" size-sm="4" size-xs="4">
          <div (click)="openClickModal(video.id)" id="video-wrapper" class="square" *ngIf="!video.deleted" style="background-image: url({{video.posterImage}})">
            <div id="play-controls">
              <ion-icon name="play-outline" large></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


