.loading-top {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 80%;
  max-height: 80%;
  border: 0;
  padding: 1em;
}

.lets-go-button {
  color: black !important;
  font-weight: 600;
}

.upload-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upload-msg-div, .hello-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin-bottom: 10em;
}

ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-card {

  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

}