<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="homeClick()" tab="home">
      <ion-icon *ngIf="!homeclick" name="home-outline"></ion-icon>
      <ion-icon *ngIf="homeclick" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="timelineClick()" tab="timeline">
      <ion-icon *ngIf="!timelineclick" name="image-outline"></ion-icon>
      <ion-icon *ngIf="timelineclick" name="image"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="messageClick()" tab="message-board">
      <ion-icon *ngIf="!messageclick" name="chatbubbles-outline"></ion-icon>
      <ion-icon *ngIf="messageclick" name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="profile-button" (click)="profileClick()" tab="profile/{{username}}">
      <ion-icon *ngIf="!profileclick" name="person-circle-outline"></ion-icon>
      <ion-icon *ngIf="profileclick" name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  
  

</ion-tabs>
