ion-tabs {
    display: flex;
    justify-content: center;
    margin: auto;
}

ion-tabs, ion-tab-bar, ion-tab-button {
    background: var(--ion-color-light)
}

ion-tab-bar {
    display: flex;
    justify-content: center;
}

.profile-pic-avatar {
    padding: 0em;
    margin: 0em;
    height: 28px;
    width: 28px;
}

small {
    margin-top: 0.15em;
    font-size: 100%;
}
