ion-toolbar {
    ion-note {
        font-weight: 600;
    }
}

.form-wrapper {
    height: 100%;
    width: 100% !important;
    display: flex;
    flex-direction: row;
}

ion-textarea {
    --background: var(--ion-color-light);
    --padding: 1em 0.5em;
    --padding-start: 1.5em;
    display: flex;
    align-items: flex-start;
    height: 100% !important;
    font-size: 0.8em;
}

.input-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    border-bottom: 1px solid var(--ion-color-medium);
}

.swiper-zoom-container {
    height: 275px;
    background: var(--ion-color-light);

    img {
        height: 275px;
        object-fit: cover;
    }
}

#video-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: none !important;
    overflow: hidden;
    object-fit: contain;

    vg-player {
        display: flex;
        justify-content: center;
    }

    vg-player video {
        object-fit: cover;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 250px;
        background-color: var(--ion-color-light);
    }

    .video-background {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        overflow: hidden;
        width: 100%;
        height: 200px;
    }

    video {
        height: 250px;
        width: 100%;
        position: relative;
        object-fit: cover;
        z-index: 1;
    }
}



#volume-controls {
    position: absolute;
    top: calc(100% - 40px);
    right: calc(0% + 15px);
    color: var(--ion-color-light);
    background: rgba(0, 0, 0, 0.70);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;

    ion-icon {
        width: 15px !important;
        height: 15px !important;
    }
}

#replay-controls {
    position: absolute;
    top: calc(50% - 24px);
    right: calc(50% - 60px);
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 5;
    cursor: pointer;
    font-size: 0.75em;

    p {
        margin: 0.5em 1em;
    }
}

#play-controls {
    position: absolute;
    top: calc(100% - 40px);
    left: calc(0% + 15px);
    padding: 0px;
    color: var(--ion-color-light);
    background: rgba(0, 0, 0, 0.70);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;

    ion-icon {
        width: 15px !important;
        height: 15px !important;
    }
}