@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');

.title {
    font-family: 'Cormorant', cursive !important;
    justify-content: center;
    display: flex;
    font-size: 2em;
}

