@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');

ion-header {
    background: var(--ion-color-light) !important;
}


.toolbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ion-icon {
        height: 24px;
        width: 24px;
        margin-right: 1rem;
    }
}

.orioles-outcome {
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 0em 0em 1em 0em;
    color: rgb(223, 70, 1);
}

.last-updated {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--ion-color-light);

    ion-text {
        font-size: 0.75rem;
    }

    ion-chip {
        margin-bottom: 0.75em;
    }
}

.sports-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--ion-color-light);

    ion-chip {
        font-weight: 600;
    }

    ion-note {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .versus {
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ion-avatar {
        margin: 0em 0em -1.5em 0em;
    }

    ion-note {
        font-weight: 600;
        margin-bottom: 0.25em;
    }

    .record {
        font-size: 0.85em;
    }

    .current-count {
        margin: 0.5em 0em -1.25em 0em;
    }

    .final {
        text-align: center;
    }
}

.sports-teams {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 90%;
    margin-bottom: 1em;

    ion-card-content {
        padding: 0 !important;
        font-size: 0.85rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: nowrap;
    }
}

.team-wrapper-away, .team-wrapper-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 600;

    ion-avatar {
        margin: 0.5em;
        max-width: 40px;
        max-height: 40px;
    }

    .team-info-home, .team-info-away {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.team-wrapper-away {
    padding: 0em;
}

ion-toolbar {
    display: flex;
    max-width: 550px;
    justify-content: space-between;
    margin: auto;
}

ion-card {
    max-width: 450px;
    margin: 2em auto;
    border-radius: 0 !important;
    border: 1px solid var(--ion-color-light);
}



.play-description {
    display: flex;
    flex-direction: column;
}

ion-title {
    font-family: 'Cormorant', cursive !important;
    font-weight: 400;
    font-size: 1.75em;
    display: flex;
    justify-content: flex-start !important;
    letter-spacing: -1px;
}

.game-status {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 1em 1em 1em;
    max-width: 450px;

    .play  {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    ion-icon {
        margin-top: 0.25em;
        min-width: 20px;
    }

    .outs {
        font-weight: 600;
    }

    // ion-note {
    //     display: flex;
    //     justify-content: flex-start;
    // }
}

.live-description {
    font-size: 0.85;
}

.live-game-banner {
    display: flex;
    flex-direction: row;
}

.score {
    font-size: 2em;
}

.pitcher-duel {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1em;
    margin: 0em 0em 1em 0em;
    border-bottom: 1px solid var(--ion-color-light);
}

.join-conversation {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    border-top: 1px solid var(--ion-color-light);
}

.venue {
    text-align: center;
    padding: 0em 0em 1em 0em;
}

.last-event {
    text-align: left;
}