<ion-header class="ion-no-border" mode="md">
  <ion-toolbar color="light">
    <div class="toolbar-wrapper">
      <ion-title text-left>
        Le critique
      </ion-title>
      <ion-icon name="refresh-outline" (click)="refresh()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let game of baseballData">
    <!-- <ion-progress-bar type="indeterminate" color="danger"></ion-progress-bar> -->
    <ion-card-header>
      <div class="last-updated">
        <ion-chip color="warning">Sports</ion-chip>
        <ion-text color="medium">Last updated {{game.lastUpdate | date: 'MMM d' }} at {{game.lastUpdate | date: 'h:mma'}} EST</ion-text>
      </div>
      <div class="sports-banner">
        <div class="sports-teams">
          <div class="team-wrapper-away">
              <ion-avatar>
                <img alt="team-logo-away" src="../../../assets/profile_placeholder_avatar.png"/>
              </ion-avatar> 
              <div class="team-info-away">
                <ion-card-content>{{game.awayTeam}}</ion-card-content>
                <small>({{liveData[0].awayWins}} - {{liveData[0].awayLosses}})</small>
                <p class="score">{{currentData.currentPlay.result.awayScore}}</p>
              </div>
          </div>
          <div class="versus"> at </div>
          <div class="team-wrapper-home">
              <ion-avatar>
                <img alt="team-logo-home" src="../../../assets/profile_placeholder_avatar.png" />
              </ion-avatar> 
              <div class="team-info-home">
                <ion-card-content>{{game.homeTeam}}</ion-card-content>
                <small>({{liveData[0].homeWins}} - {{liveData[0].homeLosses}})</small>
                <p class="score">{{currentData.currentPlay.result.homeScore}}</p>
              </div>
          </div>
        </div>
      </div>
    </ion-card-header>
    <div class="game-status">
      <ion-chip [outline]="true" color="default" [disabled]="true">{{game.gameStatus}}</ion-chip>
      <ion-chip color="success">{{game.startTime | date: 'MMM d, YYYY h:mm a' }} EST</ion-chip>
    </div>

    <ion-item>
      <div class="live-game-scoring-wrapper">
        <div class="current-batter">
          <ion-label>Current Pitcher: {{currentData.currentPlay.matchup.pitcher.fullName}}</ion-label>
          <ion-label>Current Batter: {{currentData.currentPlay.matchup.batter.fullName}}</ion-label>
        </div>
        <div class="live-game-banner">
          <ion-label>Balls: {{currentData.currentPlay.count.balls}}</ion-label> &nbsp;
          <ion-label>Strikes: {{currentData.currentPlay.count.strikes}}</ion-label> &nbsp;
          <ion-label>Outs: {{currentData.currentPlay.count.outs}}</ion-label> &nbsp;
        </div>
        <div class="live-game-last-event">
          <ion-label text-wrap class="live-description" *ngIf="lastEventDescription">{{lastEventDescription}}</ion-label>
        </div>
      </div>
    </ion-item>


      <div class="inning-breakdown">
        <ion-item *ngFor="let value of halfInnings">
          <div class="inning-wrapper">
            <ion-text>{{value}}</ion-text>
            <ion-item *ngFor="let atBat of currentData[value]">
              <div class="atBat-wrapper">
                <p>{{atBat.result.description}}</p>
                <ion-item *ngFor="let pitch of atBat.playEvents">
                  <p>{{pitch.details.description}}</p>
                </ion-item>
              </div>
            </ion-item>
          </div>
        </ion-item>
      </div>
  </ion-card>

</ion-content>
