<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToProfile()" class="cancel">&nbsp;&nbsp;Cancel</ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end" *ngIf="!updateProfileForm.valid" (click)="onUpdate(updateProfileForm.value)" class="post"></ion-buttons>
    <ion-buttons color="primary" slot="end" *ngIf="updateProfileForm.valid" (click)="onUpdate(updateProfileForm.value)" class="post"><ion-text color="primary">Done&nbsp;&nbsp;</ion-text></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="edit-grid">
    <ion-row size-lg="12" size-md="12" size-sm="12" size="12">
      <div class = "profile-pic-div">
        <ion-avatar class="upload-pic-container" *ngIf="!profilePic">
          <img id="avatar" src="../../../assets/avatar.svg">
        </ion-avatar>
        <ion-avatar class="upload-pic-container" *ngIf="profilePic">
          <img id="avatar" class="cropped-image" [src]="profilePic" />
        </ion-avatar>
        <ion-text class="profile-photo" (click)="changeProfilePhoto()" color="primary"><strong>Change profile photo</strong></ion-text>
      </div>
    </ion-row>


    <form [formGroup]="updateProfileForm" (ngSubmit)="onUpdate(updateProfileForm.value)">
        <ion-row>
          <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
            <ion-item lines="none">
              <div class="username-edit-wrapper">
                <div class="username-wrapper">
                  <div class="name-input">Username</div><ion-input type="text" formControlName="username" required></ion-input>
                  <ion-icon class="invalid-entry" name="close-circle-outline" *ngIf="(f['username'].invalid && (f['username'].dirty || f['username'].touched)) || 
                  (f['username'].hasError('minlength') && (f['username'].dirty || f['username'].touched)) ||
                  f['username'].hasError('userNameValidator') && (f['username'].dirty || f['username'].touched)"></ion-icon>
                  <ion-icon *ngIf="!(f['username'].hasError('required')) && !(f['username'].hasError('minlength')) && !(f['username'].hasError('userNameValidator')) && !(f['username'].pending)" class="valid-entry" name="checkmark-circle-outline"></ion-icon>
                  <ion-spinner class="validate-spinner" size="small" *ngIf="(f['username'].pending)"></ion-spinner>
                </div>
                <div *ngIf="!(f['username'].hasError('required')) && !(f['username'].hasError('minlength')) && !(f['username'].hasError('userNameValidator')) && ((f['username'].touched) || (f['username'].dirty)) && !(f['username'].pending)" class="success-message">
                  Username looks good.
                </div>
                <div *ngIf="!(f['username'].hasError('required')) && !(f['username'].hasError('minlength')) && !(f['username'].hasError('userNameValidator')) && !(f['username'].dirty) && !(f['username'].touched) && (f['username'].pending)" class="pending-message">
                </div>
                <div *ngIf="!(f['username'].hasError('required')) && !(f['username'].hasError('minlength')) && !(f['username'].hasError('userNameValidator')) && !(f['username'].dirty) && !(f['username'].touched)" class="initial-message">
                </div>
                <div *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)" class="alert-danger">
                  <div *ngIf="f['username'].hasError('required')" class="error-message">
                      A username is required.
                  </div>
                  <div *ngIf="f['username'].hasError('minlength') && (f['username'].dirty || f['username'].touched)" class="error-message-characters">
                      Username must be at least 4 characters long.
                  </div>
                  <div *ngIf="f['username'].hasError('userNameValidator') && (f['username'].dirty || f['username'].touched)" class="error-message-taken">
                      Username is already taken!
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-col>

          <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
            <ion-item lines="none">
              <div class="familyname-wrapper">
                <div class="name-input">Family Name</div>
                <ion-input type="text" formControlName="family_name"></ion-input>
              </div>
            </ion-item>
          </ion-col>

          <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
            <div class="relation-selector">
              <div class="relation-selector-wrapper">
                <div class="name-input">Relation</div>
                  <ion-item class="relation-select" lines="none">
                    <ion-select value="Null" okText="Select" cancelText="Dismiss" formControlName="relation" (ionChange)="relationChange($event)">
                      <ion-select-option value="Parent of Katie">Parent of Katie</ion-select-option>
                      <ion-select-option value="Parent of Zach">Parent of Zach</ion-select-option>
                      <ion-select-option value="Grandparent of Katie">Grandparent of Katie</ion-select-option>
                      <ion-select-option value="Grandparent of Zach">Grandparent of Zach</ion-select-option>
                      <ion-select-option value="Aunt of Katie">Aunt of Katie</ion-select-option>
                      <ion-select-option value="Aunt of Zach">Aunt of Zach</ion-select-option>
                      <ion-select-option value="Uncle of Katie">Uncle of Katie</ion-select-option>
                      <ion-select-option value="Uncle of Zach">Uncle of Zach</ion-select-option>
                      <ion-select-option value="Cousin of Katie">Cousin of Katie</ion-select-option>
                      <ion-select-option value="Cousin of Zach">Cousin of Zach</ion-select-option>
                      <ion-select-option value="Other">Other</ion-select-option>
                      <ion-select-option value="Creator">Creator</ion-select-option>
                    </ion-select>
                  </ion-item>
              </div>
            </div>

          </ion-col>

        </ion-row>
    </form>
  </ion-grid>
</ion-content>
