
.edit-grid {
    height: 45vh;
    display: flex;
    flex-direction: row;
    max-width: 400px;
}

.update-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;

    ion-item {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        font-size: 16px;
    }
}

.profile-pic-div {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        font-size: 75%;
        padding: -1em 1em;
        text-align: center;
        margin-top: -0.5em;
    }
}

.update-form {
    display: flex;
    align-items: center;
}

.select-button {
    padding: 5px 10px;
    background-color: var(--ion-color-light) !important;
    border: 0.5px solid var(--ion-color-light) !important;
    border-radius: 5px;
    font-size: 0.75em;
    margin: 0.25em 0em;
}



ion-text {
    font-weight: 600;
}


ion-avatar {
    height: 50px;
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

.username-edit-wrapper {
    display: flex;
    flex-direction: column;
}

.username-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    ion-input {
        text-transform: lowercase !important;
    }
}


.error-message, .error-message-taken, .error-message-characters {
    color: indianred;
    font-size: 0.65em;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;

}

.error-message {
    margin: 0.25em auto 1em 9.25em;
}

.error-message-characters {
    margin: 0.25em auto 1em 9.25em;
}

.error-message-taken {
    margin: 0.25em auto 1em 9.25em;
}

.success-message {
    color: mediumseagreen;
    font-size: 0.65em;
    font-weight: 600;
    margin: 0.25em auto 1em 9.25em;
    display: flex;
    justify-content: flex-start;
}

.pending-message, .initial-message {
    height: 0.25em;
}

.invalid-entry {
    color: indianred;
    font-size: 1.25em;
    --ionicon-stroke-width: 40px;
    padding-left: 0.5em;
}

.valid-entry {
    color: mediumseagreen;
    font-size: 1.25em;
    --ionicon-stroke-width: 40px;
    padding-left: 0.5em;
}

.relation-selector-wrapper {
    margin: 0em 0.75em 0em 1.25em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ion-item {
        max-width: 75%;
    }

    ion-select {
        min-width: 100%;
    }

    .relation-select {
        display: flex;
        justify-content: left;
        width: 100%;
        border-bottom: 1px solid whitesmoke;
    }
}

.validate-spinner {
    margin-left: 0.5em;
    padding: 0.5em;
    transform: scale(0.75)
}

.name-input {
    display: flex;
    font-size: 0.75em;
    width: 90px;
    margin: 0.25em 0em;
}

.name-input {
    display: flex;
    font-size: 0.75em;
    margin: 0.25em 0em;
}

ion-input,
ion-input:active,
ion-input:focus,
ion-input:hover {
    font-size: 0.75em;
    background-color: var(--ion-color-light) !important;
    border-radius: 0.5em;
    border: 0.5px solid var(--ion-color-light) !important;
    --padding-start: 10px !important;
}

ion-textarea,
ion-textarea:active,
ion-textarea:focus,
ion-textarea:hover {
    font-size: 0.75em;
    background-color: var(--ion-color-light) !important;
    border-radius: 0.5em;
    border: 0.5px solid var(--ion-color-light) !important;
    --padding-start: 10px !important;
    margin-bottom: 0.25em;
}

.date-button {
    background: var(--ion-color-light);
    border-radius: 5px;
    height: 70%;
    margin: 0em 0.25em 0em 0em;
}

.text-area-wrapper {
    margin: 0.5em 0em !important;
}