.already-liked-button {
    color: var(--ion-color-tertiary);

    
    .already-liked {
        color: var(--ion-color-tertiary);
        fill: var(--ion-color-tertiary);
        ;

        .ionicon {
            stroke: black !important;
        }
    }
}

.already-liked-button:hover {
    color: var(--ion-color-tertiary);
    fill: var(--ion-color-tertiary);
}

ion-tab-button {
    font-weight: 600;
    color: black;
    cursor: pointer;

    ion-icon {
        --ionicon-stroke-width: 30px !important;
    
        #text {
            font-weight: 600;
        }
    }
}

.like-text {
    margin: 0;
    fill: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary);
}

.like-text:hover {
    margin: 0;
    fill: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary);
}

.like-text-nolike {
    margin: 0;
    fill: black;
    color: black;
}

.like-text-nolike:hover {
    margin: 0;
    fill: black;
    color: black;
}
